@inject NavigationManager navigationManager
@inject HttpClient http
@inject Blazored.LocalStorage.ILocalStorageService localStorage



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink class="nav-link" href="">
                        <a class="navbar-brand">What's that Melody?</a>
                    </NavLink>
                </li>
                <AuthorizeView>
                    <li>
                        <NavLink class="nav-link" href="profile">
                            <span class="oi oi-plus" aria-hidden="true"></span> @currentUserName
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="mainpage">
                            <span class="oi oi-plus" aria-hidden="true"></span> Main Page
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="createPlaylist">
                            <span class="oi oi-plus" aria-hidden="true"></span> Playlist
                        </NavLink>
                    </li>
                </AuthorizeView>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <AuthorizeView>
                    <Authorized>
                        <button class="btn btn-danger" @onclick="Logout">Logout</button>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="login">
                            <button class="btn btn-primary">Login</button>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </li>
        </ul>
    </div>
</nav>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    public string currentUserName = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            //navigationManager.NavigateTo("/", true);
            currentUserName = user.Identity.Name;
        }

        await base.OnInitializedAsync();
    }

    private async void Logout()
    {
        await localStorage.RemoveItemAsync("jwt_token");
        navigationManager.NavigateTo("/login", true);
    }
}
