@inject NavigationManager navigationManager
@inject HttpClient http
@inject Blazored.LocalStorage.ILocalStorageService localStorage



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">    
            <ul class="nav navbar-nav">
                <li>
                    <NavLink class="nav-link" href="register">
                        <a class="navbar-brand">Guess that Melody?</a>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-home" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-home" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="createPlaylist">
                        <span class="oi oi-plus" aria-hidden="true"></span> Playlist
                    </NavLink>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <AuthorizeView>
                    <Authorized>
                        <button class="btn btn-danger" @onclick="Logout">Logout</button>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="login">
                            <button class="btn btn-primary">Login</button>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </li>
        </ul>
    </div>
</nav>


@code {
    private async void Logout()
    {
        await localStorage.RemoveItemAsync("jwt_token");
        navigationManager.NavigateTo("/login", true);
    }
}
