@page "/mainpage"
@inject NavigationManager navigationManager
@inject IMainPageService mainService

<h3>Choose your Playlist</h3>

<div class="container" style="display: flex; flex-wrap: wrap; gap: 10px;">
    @foreach (var playlist in mainService.playlists)
    {
        <div class="card" style="margin:auto; width: 15rem;">
            <img class="card-img-top" src="@playlist.Songs.FirstOrDefault().Picture" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">@playlist.PlaylistName</h4>
                <p class="card-text">
                    Number of Tracks: @playlist.Songs.Count()
                    <br/>
                    Created by: @playlist.Creator.Username
                    </p>
                <button class="btn btn-danger" @onclick="() => DeletePlaylist(playlist.Id)" type="button">Delete</button>
                <button class="btn btn-warning" @onclick="() => EditPlaylist(playlist.Id)" type="button">Edit</button>
                <button class="btn btn-success" @onclick="() => PlayGameOne(playlist.Id)" type="button">Play</button>
            </div>
        </div>
    }
</div>




@code {

    protected override async Task OnInitializedAsync()
    {
        await mainService.GetPlaylists();
    }

    public async Task DeletePlaylist(Guid id)
    {
        await mainService.DeletePlaylists(id);
        await mainService.GetPlaylists();
    }
    public void PlayGameOne(Guid id)
    {
        navigationManager.NavigateTo($"gameTypeOne/{id.ToString()}");
    }
    public void EditPlaylist(Guid id)
    {
        navigationManager.NavigateTo($"editPlaylist/{id.ToString()}");
    }

}
