@page "/register"
@inject ILoginService loginService
@inject NavigationManager navigationManager

<h3>Register</h3>

<div class="col-6">
    <input type="text" @bind-value="@userName" class="form-control" placeholder="Username" />
</div>
<br />
<div class="col-6">
    <input type="text" @bind-value="@userEmail" class="form-control" placeholder="Email" />
</div>
<br />
<div class="col-6">
    <input type="password" @bind-value="@userPassword" class="form-control" placeholder="Password" />
</div>
<br />
<div class="col-6">
    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
</div>



@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    private string userName = string.Empty;
    private string userPassword = string.Empty;
    private string userEmail = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/profile", true);
        }
    }

    public async Task LoginUser()
    {
        await loginService.Register(userName, userPassword);
        navigationManager.NavigateTo("/login", true);
    }


}